@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Squada+One&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    box-sizing: border-box;
    font-family: var(--font-familiy-2);
}

:root {
    --main-color: #ffd41f;
    --second-color: #b68c00;
    --text-color: #060414;
    --container-color: #f5f5c2;
    --bg-color: #f5f5f5;
    --text-alter-color: #818181;
    --poppins-font: "Poppins", sans-serif;
    --font-familiy-2: "Squada One", sans-serif;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-color);
    padding: 15px 20px;
    border-radius: 0.8rem;
}
.logo {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--bg-color);
    text-transform: uppercase;
    font-family: var(--font-familiy-2);
}
.logo span {
    color: var(--main-color);
}
.navbar {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.nav-link {
    font-size: 1.25rem;
    color: var(--text-alter-color);
    font-family: var(--poppins-font);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover {
    color: var(--bg-color);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-icons .bx {
    font-size: 1.2rem;
    color: var(--bg-color);
}
.nav-icons .user-icon {
    padding: 7px;
    background: var(--main-color);
    border-radius: 50%;
}
.nav-icons .user-icon:hover {
    background: var(--second-color);
    transition: 0.3s ease;
}
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--bg-color);
    border-radius: 5px;
    transition: 0.3s;
}
.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
    opacity: 0;
}
.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
.home {
    background: #ffd313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 670px;
    width: 100%;
    padding-top: 9rem !important;
}
.home-content {
    z-index: 1;
}
.home-img {
    position: relative;
}
.home-img img {
    width: 100%;
}
.home-img::before {
    content: " Aventador ";
    position: absolute;
    text-align: center;
    font-size: 10rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: #b28800;
    width: 100%;
    top: -15px;
    z-index: -1;
}
.input-form {
    max-width: 630px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background: var(--bg-color);
    padding: 12px;
    border-radius: 0.5rem;
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 500;
}
.input-box input {
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--text-alter-color);
    background: transparent;
    border-radius: 0.5rem;
    margin-top: 7px;
}
.input-border {
    border-right: 1px solid var(--text-alter-color);
    padding-right: 5px;
}
.search-btn {
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-btn:hover {
    background: var(--second-color);
    transition: 0.3s ease;
}
.heading {
    text-align: center;
    margin-bottom: 2rem;
}
.heading h2 {
    font-size: 2.2rem;
    font-weight: 500;
}
.trending-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, auto));
    gap: 1.5rem;
}
.trend-box {
    background: var(--container-color);
    padding: 10px;
    border-radius: 10px;
    transition: background 0.5s ease;
}
.trend-box:hover {
    background: #fff;
    border: 2px solid var(--container-color);
    transition: background 0.5s ease;
}
.trend-box img {
    margin: 1rem 0 0;
}
.trend-box h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
.trend-box p {
    font-size: 0.9rem;
    margin-top: 7px;
    color: var(--text-alter-color);
}
.rentals .heading {
    text-align: center;
}
.rentals-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, auto));
    gap: 1.5rem;
}
.rental-box {
    background: var(--container-color);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.rental-box:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}
.rental-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rental-top h3 {
    display: inline-block;
    font-family: var(--poppins-font);
    background: #fff;
    padding: 4px 7px;
    font-size: 0.77rem;
    font-weight: 600;
    border-radius: 4px;
}
.rental-top .bx {
    font-size: 20px;
    color: var(--text-alter-color);
    cursor: pointer;
}
.rental-top .bx:hover {
    color: var(--main-color);
    transition: 0.3s ease;
}
.rental-box img {
    margin: 1.8rem 0 1rem;
    height: 96px;
    object-fit: contain;
    object-position: center;
}
.rental-box h2 {
    font-size: 1.4rem;
    font-weight: 500;
}
.rental-box h4 {
    font-size: 0.94rem;
    font-weight: 500;
    margin-top: 5px;
    color: var(--text-alter-color)
}
.price-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.price-btn p {
    font-size: 0.97rem;
}
.price-btn p span {
    color: var(--text-alter-color);
}
.rental-btn {
    padding: 7px 10px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 0.97rem;
    border-radius: 4px;
    transition: 0,4s ease;
}
.rental-btn:hover {
    background: var(--main-color);
    transition: 0,4s ease;
}
